*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    color: white;
   
 }
 .hero
 {
   height: 100vh;
   width:100%;
   background-image: url(1background.jpg);
   background-size: cover;
   background-position: center;
   padding: 5px 0;

 }
 nav
 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 20px;
   padding-left: 8%;
   padding-right: 8%;
   
 }
 .logo
 {
   color:azure;
   font-size: 35px;
   letter-spacing: 1px;
   cursor: pointer;
 }
 span
 {
   color: #F37007;
 }
 nav ul li
 {
   list-style: none;
   display: inline-block;
   padding: 10px 25px;
 }
 nav ul li a
 {
   color: azure;
   text-decoration: none;
   font-weight: bold;
   text-transform: capitalize;
 }
 nav ul li a:hover
 {
   color:#F37007;
   transition: .4s;
 }
 .content
 {
   position: absolute;
   top: 50%;
   left: 8%;
   transform: translateY(-50%);
   color: azure;
 }
 h1
 {
   color: azure;
   margin: 20px 0px 20px;
   font-size: 75;
 }
 .isi
 {
   position: absolute;
   top: 70%;
   left: 8%;
   transform: translateY(100%);
   text-align:left;
   color: azure;
 }
.profil
{
   margin-left: 50%;
}
.tabel
{
   color: azure;
}
.komen
{
   color: azure;
}
footer
{
   position: relative;
   width: 100%;
   height: 400px;
   background: #101010;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
footer p:nth-child(1)
{
   font-size: 30px;
   color: white;
   margin-bottom: 20px;
   font-weight: bold;
}
footer p:nth-child(2)
{
   color: white;
   font-size: 17px;
   width: 500px;
   text-align: center;
   line-height: 26px;
}
.medsos
{
   display: flex;
}
.medsos a
{
   width: 45px;
   height: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #F37007;
   border-radius: 50%;
   margin: 22px 10px;
   color: white;
   text-decoration: none;
   font-size: 20px;   
}
.medsos a:hover
{
   transform: scale(1.3);
   transition: .3s;
}






 
 